@model CodeOverFlow.Models.Question


<div>
    <h4>Question</h4>
    <p>@Model.QuestionString</p>
    <form asp-controller="Votes" asp-action="CastVote" method="post">
        <input type="hidden" name="voteValue" value="true" />
        <input type="hidden" name="questionId" value="@Model.Id" />
        <button type="submit" style="width: 5%; height: 30px">UpVote</button>
    </form>
    <h4>@($"Upvotes: {Model.Votes.Where(v=> v.IsVote== true).ToList().Count}")</h4>
    <form asp-controller="Votes" asp-action="CastVote" method="post">
        <input type="hidden" name="voteValue" value="false" />
        <input type="hidden" name="questionId" value="@Model.Id" />
        <button type="submit">DownVote</button>
    </form>
    <h4>@($"Downvotes: {Model.Votes.Where(v=> v.IsVote== false).ToList().Count}")</h4>
    <ol>
        @foreach (Answer a in Model.Answers)
        {
            if (Model.User == ViewBag.Message)
            {
                if (@a.IsCorrect == true)
                {
                    <h4>Correct Answer</h4>
                    <li>@a.AnswerString  answerUserRep: @a.User.Reputation</li>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="true" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">UpVote</button>
                    </form>
                    <h4>@($"Upvotes: {a.Votes.Where(v=> v.IsVote== true).ToList().Count}")</h4>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="false" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">DownVote</button>
                    </form>
                    <h4>@($"Downvotes: {a.Votes.Where(v=> v.IsVote== false).ToList().Count} ")</h4>

                }
                else
                {
                    <li>@a.AnswerString  answerUserRep: @a.User.Reputation</li>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="true" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">UpVote</button>
                    </form>
                    <h4>@($"Upvotes: {a.Votes.Where(v=> v.IsVote== true).ToList().Count}")</h4>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="false" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">DownVote</button>
                    </form>
                    <h4>@($"Downvotes: {a.Votes.Where(v=> v.IsVote== false).ToList().Count} ")</h4>
                    <form asp-controller="Answers" asp-action="MarkAnswer">
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <input type="hidden" name="markValue" value="true" />
                        <button>Mark Correct</button>
                    </form>
                }
            }
            else
            {
                if (@a.IsCorrect == true)
                {
                    <h4>Correct Answer</h4>
                    <li>@a.AnswerString  answerUserRep: @a.User.Reputation</li>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="true" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">UpVote</button>
                    </form>
                    <h4>@($"Upvotes: {a.Votes.Where(v=> v.IsVote== true).ToList().Count}")</h4>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="false" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">DownVote</button>
                    </form>
                    <h4>@($"Downvotes: {a.Votes.Where(v=> v.IsVote== false).ToList().Count} ")</h4>
                }
                else
                {
                    <li>@a.AnswerString  answerUserRep: @a.User.Reputation</li>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="true" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">UpVote</button>
                    </form>
                    <h4>@($"Upvotes: {a.Votes.Where(v=> v.IsVote== true).ToList().Count}")</h4>
                    <form asp-controller="Votes" asp-action="CastVote" method="post">
                        <input type="hidden" name="voteValue" value="false" />
                        <input type="hidden" name="answerId" value="@a.Id" />
                        <button type="submit">DownVote</button>
                    </form>
                    <h4>@($"Downvotes: {a.Votes.Where(v=> v.IsVote== false).ToList().Count} ")</h4>
                }
            }


        }
    </ol>
    <p>@ViewBag.Message</p>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
