@model IEnumerable<CodeOverFlow.Models.Question>
@if (ViewBag.Message2 == true)
{
    <form asp-controller="Admin" asp-action="Index" method="get">
        <button type="submit">ADMIN PAGE</button>
    </form>
}
else
 {
    <div></div>
 }
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h4>Reputation: @ViewBag.Message</h4>
</div>
<form asp-action="Index" method="get">
    <select name="sortBy">
        <option value="sortByDate">Sort by Date</option>
        <option value="sortByAnswers">Sort by Number of Answers</option>
    </select>
    <button type="submit">Sort</button>
</form>
<h1>Index</h1>

<p>
    <a asp-action="AskQuestion">Ask Question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                Question
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCreated)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuestionString)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCreated)
            </td>
            <td>
                <form asp-controller="Answers" asp-action="Answer" method="get">
                    <input type="hidden" value="@item.Id" name="questionId"/>
                    <button type="submit">Answer</button>
                </form>
            </td>
             <td>
                <form asp-controller="Comments" asp-action="Comment" method="get">
                    <input type="hidden" value="@item.Id" name="questionId"/>
                    <button type="submit">Comment</button>
                </form>
            </td>
            <td>
                <form asp-action="Details" method="get">
                    <input type="hidden" value="@item.Id" name="questionId"/>
                    <button type="submit">Details</button>
                </form>
            </td>
        </tr>
}
    </tbody>
</table>

<form asp-action="Index" method="get">
    <select name="page">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
    </select>
    <button type="submit">Switch Page>></button>
</form>
